<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/info.css')}}">

</head>

<body>
    <div class="navbar">
        <a href="{{url_for('index')}}"> <button> Inicio </button> </a>
    </div>
    
    <div id="container" class="container">
        {% block content %}{% endblock %}
    </div>
    {% block others %}{% endblock %}

{% block js %}{% endblock %}
</body>
</html>