{% extends 'ver/ver-base.html' %}

{% block title %} Ver Hinchas {% endblock %}

{% block column_titles %}
    <div class="columns">Nombre</div>
    <div class="columns">Comuna</div>
    <div class="columns">Deportes</div>
    <div class="columns">Modo Transporte</div>
    <div class="columns">Número celular</div>
{% endblock %}

{% block rows %}
    {% if hinchas %}
        {% for hincha in hinchas %}
            <a href="{{url_for('info_hincha', id_hincha=hincha.id)}}">
                <div class="rows">
                    <div class="columns"> {{hincha.name}}       </div>
                    <div class="columns"> {{hincha.comuna}}     </div>
                    <div class="columns"> {{hincha.sports}}     </div>
                    <div class="columns"> {{hincha.transporte}} </div>
                    <div class="columns"> {{hincha.phone}}      </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block ref_prev %}
    {{url_for('ver_hinchas', page=page_info.current-1)}}
{% endblock %}
{% block ref_next %}
    {{url_for('ver_hinchas', page=page_info.current+1)}}
{% endblock %}