{% extends 'agregar/agregar-base.html' %}

{% block title %} Registrar Hincha {% endblock %}
{% block form_title %} Registrar Hincha {% endblock %}
{% block redirect %} {{url_for('submited_hincha')}} {% endblock %}


{% block beforeRegCom %}
    <div class="inputUser">
        <label for="sports"> Deporte(s) que interesa apoyar </label>
        <select id="sports" name="sports[]" multiple required>
        </select>
    </div>
{% endblock %}
{% block afterRegCom %}
            <div class="inputUser">
                <label for="transporte"> Modo de Transporte </label>
                <select id="transporte" required>

                </select>
            </div>
{% endblock %}

{% block name_label %} Nombre {% endblock %}
{% block email_label %} Email contacto {% endblock %}

{% block others %}
<div class="inputUser">
    <label for="comentarios"> Comentarios adicionales (Opcional)</label>
    <textarea id="comentarios"></textarea>
</div>
{% endblock %}

{% block submitBtn_label %} Registrar Hincha {% endblock %}
{% block confirmation_msg %} ¿Confirma el registro de este hincha? {% endblock %}

{% block js %}
<script src="{{url_for('static',filename='js/registro/hincha.js')}}"></script>
{% endblock %}
