<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{url_for('static',filename='img/icon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    {% block css %}{% endblock %}
    {% block otros %}{% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="{{url_for('index')}}" id="btn-inicio">
            <img src="{{url_for('static', filename='img/inicio.gif')}}" alt="Inicio" width="50px" height="50px">
        </a>
    </div>

{% block body %}{% endblock %}
{% block js%}{% endblock %}
</body>
</html>