{% extends 'base.html' %}

{% block title %} Registrar Artesano {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/registro.css')}}">
{% endblock %}

{% block body %}
<div id="containerForm" class="container">
    <div id="titulo"> Registrar Artesano </div>

    <form id="myForm" action="{{url_for('registrar_artesano')}}" method="post" enctype="multipart/form-data">

        <div class="inputUser">
            <label for="regiones"> Región donde vive</label>
            <select id="regiones" name="regiones">
                {% if regiones %}
                {% for region in regiones %}
                <option> {{region}} </option>
                {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="inputUser">
            <label for="comunas"> Comuna donde vive</label>
            <select id="comunas" name="comunas">
            </select>
        </div>

        <div class="inputUser">
            <label for="crafts"> Tipo artesanía </label>
            <select id="crafts" name="crafts">
                {% if artesanias %}
                    {% for artesania in artesanias %}
                        <option> {{artesania}} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <div id="showSelectedCrafts" hidden>
                <p id="showSelectedCraftsTitle"> Tipo de Artesanías seleccionadas: </p>
                <ul id="showSelectedCraftsList"></ul>
            </div>
        </div>

        <div class="inputUser">
            <label for="description"> Descripción artesanías (Opcional)</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea>
        </div>

        <div class="inputUser">
            <label for="files"> Fotos artesanías </label>
            <input id="files" name="files" type="file" multiple accept="image/*,.pdf" required>
        </div>

        <div class="inputUser">
            <label for="name"> Nombre artesano(a) </label>
            <input id="name" name="name" type="text" minlength="3" maxlength="80" placeholder="Ej: Franco Antonio" required>
        </div>

        <div class="inputUser">
            <label for="email"> mail contacto artesano(a) </label>
            <input id="email" name="email" type="email" maxlength="30" placeholder="Ej: persona@mail.cl" required>
        </div>

        <div class="inputUser">
            <label for="phone"> Número celular contacto (Opcional)</label>
            <input id="phone" name="phone" type="tel" maxlength="15" placeholder="+56 9 XXXX-XXXX">
        </div>


        <button id="submitBtn" type="button"> Registrar Artesano </button>
    </form>
</div>

<div id="confirmacionSubmit" class="container">
    <p class="textoConfirmacion">¿Confirma el registro de este Artesano?</p>
    <div class="opciones">
        <button id="confirmar" type="button" class="btnConf"> Sí, confirmo </button>
        <button id="rechazar" type="button" class="btnConf"> No, quiero volver al formulario </button>
    </div>
</div>

<div id="containerRegreso" class="container">
    <p class="textoConfirmacion"> Hemos recibido el registro de Artesano. Muchas gracias. </p>
    <button id="btnPortada"  type="button" class="btnConf">Portada</button>
</div>


{% block js %}

<script>
    const Artesanias = {{ artesanias | tojson }}
    const Regiones   = {{ regiones | tojson }};
    const Comunas    = {{ comunas  | tojson }};
</script>

<script src="{{url_for('static',filename='js/href.js')}}"></script>
<script src="{{url_for('static',filename='js/setOptions.js')}}"></script>
<script src="{{url_for('static',filename='js/validations.js')}}"></script>
<script src="{{url_for('static',filename='js/confirmacion.js')}}"></script>
<script src="{{url_for('static',filename='js/regArtesano.js')}}"></script>
{% endblock %}

{% endblock %}