<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Juegos Panamericanos Chile </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        <p id="titulo"> Juegos Panamericanos
            <span style="color:Blue;">C</span><span style="color:white;">hi</span><span style="color:red;">le</span>
        </p>
        
        <a href="{{url_for('registrar_hincha')}}"      class="button_"> Registrar hincha         </a>
        <a href="{{url_for('registrar_artesano')}}"    class="button_"> Registrar artesano       </a>
        <a href="{{url_for('ver_hinchas', page=0)}}"   class="button_"> Ver listado de hinchas   </a>
        <a href="{{url_for('ver_artesanos', page=0)}}" class="button_"> Ver listado de artesanos </a>
    </div>

</body>
</html>