{% block title %} <title>Informacin hincha</title> {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/info.css')}}">
{% endblock %}
{% block body %}
    <div></div>

    <div id="persona1" class="container">
        <div class="rows">
            <div class="desc"> Deporte(s) que interesa apoyar </div>
            <div class="info"> Boxeo, Fútbol, Levantamiento de pesas </div>
        </div>
        <div class="rows">
            <div class="desc"> Región donde vive </div> 
            <div class="info"> Metropolitana de Santiago </div>
        </div>
        <div class="rows">
            <div class="desc"> Comuna donde vive </div> 
            <div class="info"> Pudahuel </div>
        </div>
        <div class="rows">
            <div class="desc"> Modo de transporte </div> 
            <div class="info"> locomoción pública </div>
        </div>
        <div class="rows">
            <div class="desc"> Nombre </div> 
            <div class="info"> Franco Antonio </div>
        </div>
        <div class="rows">
            <div class="desc"> Email contacto </div> 
            <div class="info"> franco.gonzalez.l@ug.uchile.cl </div>
        </div>
        <div class="rows">
            <div class="desc"> Número celular contacto </div> 
            <div class="info"> +56 9 1234-5678 </div>
        </div>
        <div class="rows">
            <div class="desc"> Comentarios adicionales </div> 
            <div class="info"> Muy interesado en participar, saludos! </div>
        </div>
    </div>

    <div id="persona2" class="container">
        <div class="rows">
            <div class="desc"> Deporte(s) que interesa apoyar </div>
            <div class="info"> fubolPolo acuático, Bowling, Fútbol </div>
        </div>
        <div class="rows">
            <div class="desc"> Región donde vive </div> 
            <div class="info"> Los Ríos </div>
        </div>
        <div class="rows">
            <div class="desc"> Comuna donde vive </div> 
            <div class="info"> Río Bueno </div>
        </div>
        <div class="rows">
            <div class="desc"> Modo de transporte </div> 
            <div class="info"> locomoción pública </div>
        </div>
        <div class="rows">
            <div class="desc"> Nombre </div> 
            <div class="info"> Cristiano R </div>
        </div>
        <div class="rows">
            <div class="desc"> Email contacto </div> 
            <div class="info"> cristiano@siuuu.cl </div>
        </div>
        <div class="rows">
            <div class="desc"> Número celular contacto </div> 
            <div class="info"> +56 9 0099-7711 </div>
        </div>
        <div class="rows">
            <div class="desc"> Comentarios adicionales </div> 
            <div class="info"> Muchas ganas de ir! Siuuuu. </div>
        </div>
    </div>

    <div id="persona3" class="container">
                <div class="rows">
            <div class="desc"> Deporte(s) que interesa apoyar </div>
            <div class="info"> Béisbol </div>
        </div>
        <div class="rows">
            <div class="desc"> Región donde vive </div> 
            <div class="info"> Aisén del G. Carlos Ibáñez del Campo </div>
        </div>
        <div class="rows">
            <div class="desc"> Comuna donde vive </div> 
            <div class="info"> O'Higgins </div>
        </div>
        <div class="rows">
            <div class="desc"> Modo de transporte </div> 
            <div class="info"> particular </div>
        </div>
        <div class="rows">
            <div class="desc"> Nombre </div> 
            <div class="info"> Pedro A </div>
        </div>
        <div class="rows">
            <div class="desc"> Email contacto </div> 
            <div class="info"> pedroa@gmail.com </div>
        </div>
        <div class="rows">
            <div class="desc"> Número celular contacto </div> 
            <div class="info"> 9 9575-9213 </div>
        </div>
        <div class="rows">
            <div class="desc"> Comentarios adicionales </div> 
            <div class="info"> Obligado a usar transporte particular. Pocas opciones de transporte público. </div>
        </div>
    </div>

    <div id="persona4" class="container">
                <div class="rows">
            <div class="desc"> Deporte(s) que interesa apoyar </div>
            <div class="info"> Surf, Taekwondo </div>
        </div>
        <div class="rows">
            <div class="desc"> Región donde vive </div> 
            <div class="info"> Arica y Parinacota </div>
        </div>
        <div class="rows">
            <div class="desc"> Comuna donde vive </div> 
            <div class="info"> General Lagos </div>
        </div>
        <div class="rows">
            <div class="desc"> Modo de transporte </div> 
            <div class="info"> locomoción pública </div>
        </div>
        <div class="rows">
            <div class="desc"> Nombre </div> 
            <div class="info"> Juan G </div>
        </div>
        <div class="rows">
            <div class="desc"> Email contacto </div> 
            <div class="info"> juan.g@ug.uchile.cl </div>
        </div>
        <div class="rows">
            <div class="desc"> Número celular contacto </div> 
            <div class="info"> 9 1930-5929 </div>
        </div>
        <div class="rows">
            <div class="desc"> Comentarios adicionales </div> 
            <div class="info"> Hola! A la espera de los panamericanos! </div>
        </div>
    </div>

    <div id="persona5" class="container">
                <div class="rows">
            <div class="desc"> Deporte(s) que interesa apoyar </div>
            <div class="info"> Natación, Básquetbol 3x3, Tiro con arco </div>
        </div>
        <div class="rows">
            <div class="desc"> Región donde vive </div> 
            <div class="info"> Los Lagos </div>
        </div>
        <div class="rows">
            <div class="desc"> Comuna donde vive </div> 
            <div class="info"> Chonchi </div>
        </div>
        <div class="rows">
            <div class="desc"> Modo de transporte </div> 
            <div class="info"> locomoción pública </div>
        </div>
        <div class="rows">
            <div class="desc"> Nombre </div> 
            <div class="info"> Luis S </div>
        </div>
        <div class="rows">
            <div class="desc"> Email contacto </div> 
            <div class="info"> luis@abc.cl </div>
        </div>
        <div class="rows">
            <div class="desc"> Número celular contacto </div> 
            <div class="info"> 5918-3625 </div>
        </div>
        <div class="rows">
            <div class="desc"> Comentarios adicionales </div> 
            <div class="info"> mmm panamericanos </div>
        </div>
    </div>

{% block js %}
<script src="{{url_for('static',filename='js/info.js')}}"></script>
<script >verInfo();</script>
{% endblock %}
{% endblock %}