{% block title %} <title>Ver Artesanos</title> {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/ver.css')}}">
{% endblock %}
{% block body %}

    <div id="container" class="container">
        <div id="titles" class="titles">
            <div class="columns">Nombre</div>
            <div class="columns">Teléfono</div>
            <div class="columns">Comuna</div>
            <div class="columns">Tipo Artesanías</div>
            <div class="fotos">Fotos</div>
        </div>
        <div id="persona1" class="rows">
            <div class="columns"> Gonzalez Leiva </div>
            <div class="columns"> +56 9 4847-7777 </div>
            <div class="columns"> Santiago </div>
            <div class="columns"> mimbre, metal </div>
            <div class="fotos"><img width="120" height="120" src="" alt="Tipo Artesanías"></div>
        </div>
        <div id="persona2" class="rows">
            <div class="columns"> Carlos G </div>
            <div class="columns"> 9 1234-5678 </div>
            <div class="columns"> Antofagasta </div>
            <div class="columns"> telas, joyas </div>
            <div class="fotos"><img width="120" height="120" src="" alt="Tipo Artesanías"></div>
        </div>
        <div id="persona3" class="rows">
            <div class="columns"> Roberto R </div>
            <div class="columns"> 9875-5323 </div>
            <div class="columns"> Teodoro Schmidt </div>
            <div class="columns"> cerámica, otro tipo </div>
            <div class="fotos"><img width="120" height="120" src="" alt="Tipo Artesanías"></div>
        </div>
        <div id="persona4" class="rows">
            <div class="columns"> Jose Z </div>
            <div class="columns"> 7685-9304 </div>
            <div class="columns"> San Carlos </div>
            <div class="columns"> cuero, madera, mimbre </div>
            <div class="fotos"><img width="120" height="120" src="" alt="Tipo Artesanías"></div>
        </div>
        <div id="persona5" class="rows">
            <div class="columns"> Benjamín A </div>
            <div class="columns"> +56 9 44447777 </div>
            <div class="columns"> Viña del Mar </div>
            <div class="columns"> telas, joyas, otro tipo </div>
            <div class="fotos"><img width="120" height="120" src="" alt="Tipo Artesanías"></div>
        </div>
    </div>

{% block js %}
<script src="{{url_for('static', filename='js/href.js')}}"></script>
<script >const info = html_in_artesano;</script>
<script  src="{{url_for('static',filename='js/info.js')}}"></script>
<script >verListado();</script>
{% endblock %}
{% endblock %}